body {
    height: 100vh;
    background-color: black;
    font-family: 'ibm-bios';
    font-size: 0.7rem;
    color: #008a8a;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1.5;
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.title {
    color: #00ffff;
}

.subtitle {
    color: #008a8a;
}

.copyright {
    width: 100%;
    text-align: center;
    color: #a7a7a7;
    padding: 10px 0;
}
