@font-face {
    font-family: "ibm-bios";
    src: url("WebPlus_IBM_BIOS.woff") format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'ibm-bios';
    background-color: black;
    color: #008a8a;
    height: 100vh;
    font-size: 0.7rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.title {
    color: #00ffff;
}

.subtitle {
    color: #008a8a;
}

.picture {
    width: 400px;
    height: auto;
    border-radius: 50%;
}

.projects {
    width: 80%;
    flex: 1;
    color: #008a8a;
    font-size: 0.6rem;
}

.projects, th, td {
    border: 1px solid #000055;
    border-collapse: collapse;
    text-align: center;
}

.project-name {
    color: #00ffff;
}

.copyright {
    color: #a7a7a7;
    flex: 0;
    padding: 10px 0;
}
